@model crystalthoughts.Models.blogdata
@{
    HttpCookie loginCookie = Request.Cookies["crystalthoughts"];
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = Model;
}
<!--breadcrumbs-->
<section id="breadcrumb" class="breadMargin">
    <div class="row">
        <div class="large-12 columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span> Blog
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section><!--end breadcrumbs-->
<section class="category-content">
    <div class="row">
        <!-- left side content area -->
        <div class="large-8 columns">
            <div class="blog-post">
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="blog-post-heading">
                            <h3><a href="#">@info.title</a></h3>
                            <p>
                                <span><i class="fa fa-user"></i><a href="#">admin</a></span>
                                <span><i class="fa fa-clock-o"></i>@info.blogdate</span>
                                <span><i class="fa fa-commenting"></i>8</span>
                            </p>
                        </div>
                        <div class="blog-post-content">
                            @if (info.image != null)
                            {
                                <div class="blog-post-img">
                                    <img src="@info.image.Replace("~","")" alt="blog image">
                                </div>
                            }
                            else
                            {
                                <div class="blog-post-img">
                                    <iframe width="767" height="315" src="https://www.youtube.com/embed/" @info.videourl allowfullscreen></iframe>
                                </div>
                            }

                            <p>@Html.Raw(info.discription)</p>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content comments">
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="main-heading borderBottom">
                            <div class="row padding-14">
                                <div class="medium-12 small-12 columns">
                                    <div class="head-title">
                                        <i class="fa fa-comments"></i>
                                        <h4>
                                            Comments <span>(4)</span>
                                            <span style="color:#00ff21">
                                                @if (TempData["MSG"] != null)
                                                {
                                                    @TempData["MSG"]
                                                }
                                            </span>


                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-box thumb-border">
                            <div class="media-object stack-for-small">
                                <div class="media-object-section comment-img text-center">
                                    <div class="comment-box-img">
                                        <img src="/images/post-author-post.png" alt="comment">
                                    </div>      
                                </div>
                                <div class="media-object-section comment-textarea">
                                    @if (loginCookie != null)
                                    {
                                        <form method="post" action="/blog/comment">
                                            <textarea name="comment" placeholder="Add a comment here.."></textarea>
                                            <input type="submit" name="submit" value="send">
                                        </form>
                                    }
                                    else
                                    {
                                        <a href="/account/login/blog/@info.blogid/@info.title.Replace(" ","-")" style="margin-right:15px;float:right" class="button radius">Login</a>
                                    }
                                </div>
                            </div>
                            <div class="comment-sort text-right">
                                <span>Sort By : <a href="#">newest</a> | <a href="#">oldest</a></span>
                            </div>
                            <!-- main comment -->
                            <div class="main-comment showmore_one">
                                <div class="media-object stack-for-small">
                                    <div class="media-object-section comment-img text-center">
                                        <div class="comment-box-img">
                                            <img src="/images/post-author-post.png" alt="comment">
                                        </div>
                                    </div>
                                    @foreach (crystalthoughts.Models.Account_Data c in ViewBag.commentlist)
                                    {
                                        <div class="media-object-section comment-desc">
                                            <div class="comment-title">
                                                <span class="name"><a href="#">@c.Name</a> Said:</span>
                                                <span class="time float-right"><i class="fa fa-clock-o"></i>@c.Date</span>
                                            </div>
                                            <div class="comment-text">
                                                <p>@c.comment</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- ad Section -->
            <div class="googleAdv">
                <a href="#"><img src="/images/goodleadv.png" alt="googel ads"></a>
            </div><!-- End ad Section -->
        </div><!-- end left side content area -->
        <!-- sidebar -->
        <div class="large-4 columns">
            <aside class="secBg sidebar">
                <div class="row">
                    <!-- most view Widget -->
                    <div class="large-12 medium-7 medium-centered columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>Most View Videos</h5>
                            </div>
                            <div class="widgetContent">
                                <div class="video-box thumb-border">
                                    <div class="video-img-thumb">
                                        <img src="/images/video-thumbnail/7.jpg" alt="most viewed videos">
                                        <a href="#" class="hover-posts">
                                            <span><i class="fa fa-play"></i>Watch Video</span>
                                        </a>
                                    </div>
                                    <div class="video-box-content">
                                        <h6><a href="#">There are many variations of passage. </a></h6>
                                        <p>
                                            <span><i class="fa fa-user"></i><a href="#">admin</a></span>
                                            <span><i class="fa fa-clock-o"></i>5 January 16</span>
                                            <span><i class="fa fa-eye"></i>1,862K</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="video-box thumb-border">
                                    <div class="video-img-thumb">
                                        <img src="/images/widget-most1.png" alt="most viewed videos">
                                        <a href="#" class="hover-posts">
                                            <span><i class="fa fa-play"></i>Watch Video</span>
                                        </a>
                                    </div>
                                    <div class="video-box-content">
                                        <h6><a href="#">There are many variations of passage. </a></h6>
                                        <p>
                                            <span><i class="fa fa-user"></i><a href="#">admin</a></span>
                                            <span><i class="fa fa-clock-o"></i>5 January 16</span>
                                            <span><i class="fa fa-eye"></i>1,862K</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="video-box thumb-border">
                                    <div class="video-img-thumb">
                                        <img src="/images/widget-most2.png" alt="most viewed videos">
                                        <a href="#" class="hover-posts">
                                            <span><i class="fa fa-play"></i>Watch Video</span>
                                        </a>
                                    </div>
                                    <div class="video-box-content">
                                        <h6><a href="#">There are many variations of passage. </a></h6>
                                        <p>
                                            <span><i class="fa fa-user"></i><a href="#">admin</a></span>
                                            <span><i class="fa fa-clock-o"></i>5 January 16</span>
                                            <span><i class="fa fa-eye"></i>1,862K</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="video-box thumb-border">
                                    <div class="video-img-thumb">
                                        <img src="/images/widget-most3.png" alt="most viewed videos">
                                        <a href="#" class="hover-posts">
                                            <span><i class="fa fa-play"></i>Watch Video</span>
                                        </a>
                                    </div>
                                    <div class="video-box-content">
                                        <h6><a href="#">There are many variations of passage. </a></h6>
                                        <p>
                                            <span><i class="fa fa-user"></i><a href="#">admin</a></span>
                                            <span><i class="fa fa-clock-o"></i>5 January 16</span>
                                            <span><i class="fa fa-eye"></i>1,862K</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end most view Widget -->
                    <div class="large-12 medium-7 medium-centered columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>Recent post videos</h5>
                            </div>
                            <div class="widgetContent">
                                <div class="advBanner text-center">
                                    <a href="#"><img src="/images/sideradv.png" alt="sidebar adv"></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end ad banner widget -->

                </div>
            </aside>
        </div><!-- end sidebar -->
    </div>
</section>
